In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('userdata.csv')
df

   Unnamed: 0  marksa  marksb  marksc
0           0      73      92       2
1           1      51      77      18
2           2      24      21      48
3           3      32      22      74
4           4      52      90       1
5           5      54      21      75
6           6      46       5       2
7           7      71      30      83
8           8      15      75      11
9           9      13      56      20

In [4]:
df=df.drop(columns=['Unnamed: 0'])

In [8]:
type(df.iloc[3])

pandas.core.series.Series

In [9]:
type(df.iloc[3].values)

numpy.ndarray

In [11]:
idx=df.columns.get_loc('marksb')
print(idx)
df.iloc[3,idx]

1

22

In [12]:
df.iloc[:3,[1,2]]

   marksb  marksc
0      92       2
1      77      18
2      21      48

In [16]:
# sorting
print(df)
df.sort_values(by=['marksa','marksc'],ascending=False)

   marksa  marksb  marksc
0      73      92       2
1      51      77      18
2      24      21      48
3      32      22      74
4      52      90       1
5      54      21      75
6      46       5       2
7      71      30      83
8      15      75      11
9      13      56      20

   marksa  marksb  marksc
0      73      92       2
7      71      30      83
5      54      21      75
4      52      90       1
1      51      77      18
6      46       5       2
3      32      22      74
2      24      21      48
8      15      75      11
9      13      56      20

In [17]:
df.values # dataframe to numy arrays

array([[73, 92,  2],
       [51, 77, 18],
       [24, 21, 48],
       [32, 22, 74],
       [52, 90,  1],
       [54, 21, 75],
       [46,  5,  2],
       [71, 30, 83],
       [15, 75, 11],
       [13, 56, 20]], dtype=int64)

In [19]:
#numpy to data frame
new_=pd.DataFrame(df.values)

In [20]:
new_

    0   1   2
0  73  92   2
1  51  77  18
2  24  21  48
3  32  22  74
4  52  90   1
5  54  21  75
6  46   5   2
7  71  30  83
8  15  75  11
9  13  56  20

In [21]:
new_withcolumn=pd.DataFrame(df.values,columns=['marksa','markb','markc'])

In [22]:
new_withcolumn

   marksa  markb  markc
0      73     92      2
1      51     77     18
2      24     21     48
3      32     22     74
4      52     90      1
5      54     21     75
6      46      5      2
7      71     30     83
8      15     75     11
9      13     56     20

In [24]:
new_withcolumn.to_csv?

Signature:
new_withcolumn.to_csv(
    path_or_buf: 'FilePathOrBuffer[AnyStr] | None' = None,
    sep: 'str' = ',',
    na_rep: 'str' = '',
    float_format: 'str | None' = None,
    columns: 'Sequence[Hashable] | None' = None,
    header: 'bool_t | list[str]' = True,
    index: 'bool_t' = True,
    index_label: 'IndexLabel | None' = None,
    mode: 'str' = 'w',
    encoding: 'str | None' = None,
    compression: 'CompressionOptions' = 'infer',
    quoting: 'int | None' = None,
    quotechar: 'str' = '"',
    line_terminator: 'str | None' = None,
    chunksize: 'int | None' = None,
    date_format: 'str | None' = None,
    doublequote: 'bool_t' = True,
    escapechar: 'str | None' = None,
    decimal: 'str' = '.',
    errors: 'str' = 'strict',
    storage_options: 'StorageOptions' = None,
) -> 'str | None'
Docstring:
Write object to a comma-separated values (csv) file.

Parameters
----------
path_or_buf : str or file handle, default None
    File path or object, if None is provided the result is returned as
    a string.  If a non-binary file object is passed, it should be opened
    with `newline=''`, disabling universal newlines. If a binary
    file object is passed, `mode` might need to contain a `'b'`.

    .. versionchanged:: 1.2.0

       Support for binary file objects was introduced.

sep : str, default ','
    String of length 1. Field delimiter for the output file.
na_rep : str, default ''
    Missing data representation.
float_format : str, default None
    Format string for floating point numbers.
columns : sequence, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of strings is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, or False, default None
    Column label for index column(s) if desired. If None is given, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the object uses MultiIndex. If
    False do not print fields for index names. Use index_label=False
    for easier importing in R.
mode : str
    Python write mode, default 'w'.
encoding : str, optional
    A string representing the encoding to use in the output file,
    defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
    is a non-binary file object.
compression : str or dict, default 'infer'
    If str, represents compression mode. If dict, value at 'method' is
    the compression mode. Compression mode may be any of the following
    possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
    compression mode is 'infer' and `path_or_buf` is path-like, then
    detect compression mode from the following extensions: '.gz',
    '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
    and mode is one of {'zip', 'gzip', 'bz2'}, or inferred as
    one of the above, other entries passed as
    additional compression options.

    .. versionchanged:: 1.0.0

       May now be a dict with key 'method' as compression mode
       and other entries as additional compression options if
       compression mode is 'zip'.

    .. versionchanged:: 1.1.0

       Passing compression options as keys in dict is
       supported for compression modes 'gzip' and 'bz2'
       as well as 'zip'.

    .. versionchanged:: 1.2.0

        Compression is supported for binary file objects.

    .. versionchanged:: 1.2.0

        Previous versions forwarded dict entries for 'gzip' to
        `gzip.open` instead of `gzip.GzipFile` which prevented
        setting `mtime`.

quoting : optional constant from csv module
    Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
    then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
    will treat them as non-numeric.
quotechar : str, default '\"'
    String of length 1. Character used to quote fields.
line_terminator : str, optional
    The newline character or character sequence to use in the output
    file. Defaults to `os.linesep`, which depends on the OS in which
    this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).
chunksize : int or None
    Rows to write at a time.
date_format : str, default None
    Format string for datetime objects.
doublequote : bool, default True
    Control quoting of `quotechar` inside a field.
escapechar : str, default None
    String of length 1. Character used to escape `sep` and `quotechar`
    when appropriate.
decimal : str, default '.'
    Character recognized as decimal separator. E.g. use ',' for
    European data.
errors : str, default 'strict'
    Specifies how encoding and decoding errors are to be handled.
    See the errors argument for :func:`open` for a full list
    of options.

    .. versionadded:: 1.1.0

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib`` as header options. For other URLs (e.g.
    starting with "s3://", and "gcs://") the key-value pairs are forwarded to
    ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

    .. versionadded:: 1.2.0

Returns
-------
None or str
    If path_or_buf is None, returns the resulting csv format as a
    string. Otherwise returns None.

See Also
--------
read_csv : Load a CSV file into a DataFrame.
to_excel : Write DataFrame to an Excel file.

Examples
--------
>>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
...                    'mask': ['red', 'purple'],
...                    'weapon': ['sai', 'bo staff']})
>>> df.to_csv(index=False)
'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

Create 'out.zip' containing 'out.csv'

>>> compression_opts = dict(method='zip',
...                         archive_name='out.csv')  # doctest: +SKIP
>>> df.to_csv('out.zip', index=False,
...           compression=compression_opts)  # doctest: +SKIP
File:      c:\users\karti\miniconda3\lib\site-packages\pandas\core\generic.py
Type:      method

In [25]:
new_withcolumn.to_csv('mark.csv',index=False)

In [26]:
pd.read_csv('mark.csv')

   marksa  markb  markc
0      73     92      2
1      51     77     18
2      24     21     48
3      32     22     74
4      52     90      1
5      54     21     75
6      46      5      2
7      71     30     83
8      15     75     11
9      13     56     20